body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/intro-bg.jpg);    
    background-size: cover; /* Make sure the background image covers the entire screen */
    background-position: center; /* Center the background image */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust the opacity here */
    z-index: -1; /* Place the background behind other content */
}

.modal {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-arrow {
    cursor: pointer;
    font-size: 20px;
    padding: 3px 5px;
}

.back-arrow:hover {
    background-color: #989898;
    border-radius: 5px;
}

.coin {
    display: flex;
    flex-direction: row;
}

.coin img {
    margin: 15px 0;
    width: 120px;   
}

.address {
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}

.address p {
    font-size: 15px;
    font-weight: 700;
    color: #303030;
    max-width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

#copy-message {
    color: green;
    font-size: 14px;
    /* margin-top: 10px; */
}

.collection {
    width: 100%;
}

.copy-btn {
    background: linear-gradient(45deg, #30d325, #0f7b2a);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    outline: none;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    display: inline-block;
}

.copy-btn:hover {
    background: linear-gradient(45deg, #f06595, #ff6b6b);
    transform: translateY(-2px);
}

.copy-btn:active {
    transform: translateY(1px);
    background: linear-gradient(45deg, #f06595, #ff6b6b);
}

.copy-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 105, 135, 0.5);
}
