body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/intro-bg.jpg);    
    background-size: cover; /* Make sure the background image covers the entire screen */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust the opacity here */
    z-index: -1; /* Place the background behind other content */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    max-height: 100%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    opacity: 1;
}

.donation-content {
    flex: 1;
    padding: 20px;
}

.donation-content img {
    max-width: 100%;
    border-radius: 10px;
}

.donation-content h2 {
    font-size: 24px;
    margin: 20px 0;
}

.donation-content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.donation-form,
.security-warning {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.donation-form h3,
.security-warning h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.donation-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.donation-form input[type="text"],
.donation-form input[type="email"],
.donation-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkboxes {
    margin-bottom: 20px;
}

.checkboxes label {
    display: block;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.security-warning p {
    margin-bottom: 20px;
}

.security-warning a {
    color: #007bff;
    text-decoration: none;
}

.security-warning a:hover {
    text-decoration: underline;
}
